<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{"yyyy-MM-dd'T'HH:mm:ss"} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.obolibrary" level="ERROR" />
  <logger name="org.openrdf.rio" level="ERROR" />
  <logger name="org.semanticweb.owlapi" level="ERROR" />
  <logger name="org.xml.sax" level="ERROR" />
  <logger name="uk.ac.manchester" level="ERROR" />

  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>